In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv("CO2_DATASET.csv")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DataMessageGUID  512 non-null    object
 1   SensorID         512 non-null    int64
 2   Sensor Name      512 non-null    object
 3   Date             512 non-null    object
 4   Value            512 non-null    int64
 5   Formatted Value  512 non-null    object
 6   Battery          512 non-null    int64
 7   Raw Data         512 non-null    object
 8   Sensor State     512 non-null    int64
 9   GatewayID        512 non-null    int64
 10  Alert Sent       512 non-null    bool
 11  Signal Strength  512 non-null    int64
 12  Voltage          512 non-null    float64
dtypes: bool(1), float64(1), int64(6), object(5)
memory usage: 48.6+ KB

In [18]:
df.head()

,DataMessageGUID,SensorID,Sensor Name,Date,Value,Formatted Value,Battery,Raw Data,Sensor State,GatewayID,Alert Sent,Signal Strength,Voltage
0,049320ec-7f1b-4ef1-b756-3997e204887b,687589,CO2 Meter - 1,11/19/2022 7:54 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
1,20496c37-a2ac-495b-8ec2-6e6e665d244e,687589,CO2 Meter - 1,11/19/2022 7:39 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
2,b3bc0fe4-1edb-430e-8997-5232f5efa946,687589,CO2 Meter - 1,11/19/2022 7:24 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
3,720bd7a6-3d6b-48df-9d99-eaae5f6c9213,687589,CO2 Meter - 1,11/19/2022 7:09 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
4,de3a8c71-a8bb-4411-bcd3-0a0e2ead827a,687589,CO2 Meter - 1,11/19/2022 6:54 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11

In [19]:
df.drop("DataMessageGUID", axis = 1, inplace = True)

In [20]:
df.head()

,SensorID,Sensor Name,Date,Value,Formatted Value,Battery,Raw Data,Sensor State,GatewayID,Alert Sent,Signal Strength,Voltage
0,687589,CO2 Meter - 1,11/19/2022 7:54 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
1,687589,CO2 Meter - 1,11/19/2022 7:39 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
2,687589,CO2 Meter - 1,11/19/2022 7:24 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
3,687589,CO2 Meter - 1,11/19/2022 7:09 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
4,687589,CO2 Meter - 1,11/19/2022 6:54 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11

In [21]:
df.drop("SensorID", axis = 1, inplace = True)

In [22]:
df.head()

,Sensor Name,Date,Value,Formatted Value,Battery,Raw Data,Sensor State,GatewayID,Alert Sent,Signal Strength,Voltage
0,CO2 Meter - 1,11/19/2022 7:54 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
1,CO2 Meter - 1,11/19/2022 7:39 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
2,CO2 Meter - 1,11/19/2022 7:24 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
3,CO2 Meter - 1,11/19/2022 7:09 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
4,CO2 Meter - 1,11/19/2022 6:54 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11

In [23]:
df.drop("Sensor Name", axis = 1, inplace = True)

In [24]:
df.head()

,Date,Value,Formatted Value,Battery,Raw Data,Sensor State,GatewayID,Alert Sent,Signal Strength,Voltage
0,11/19/2022 7:54 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
1,11/19/2022 7:39 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
2,11/19/2022 7:24 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
3,11/19/2022 7:09 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11
4,11/19/2022 6:54 AM,0,CO2 Instantaneous: 0 ppm; CO2 TWA: 0 ppm,100,0|0|0|48424,0,964010,False,100,3.11

In [26]:
df.drop("Formatted Value", axis = 1, inplace = True)

In [27]:
df.head()

,Date,Value,Battery,Raw Data,Sensor State,GatewayID,Alert Sent,Signal Strength,Voltage
0,11/19/2022 7:54 AM,0,100,0|0|0|48424,0,964010,False,100,3.11
1,11/19/2022 7:39 AM,0,100,0|0|0|48424,0,964010,False,100,3.11
2,11/19/2022 7:24 AM,0,100,0|0|0|48424,0,964010,False,100,3.11
3,11/19/2022 7:09 AM,0,100,0|0|0|48424,0,964010,False,100,3.11
4,11/19/2022 6:54 AM,0,100,0|0|0|48424,0,964010,False,100,3.11

In [28]:
df.describe()

,Value,Battery,Sensor State,GatewayID,Signal Strength,Voltage
count,512.00000,512.0,512.000000,512.0,512.000000,512.000000
mean,91.50000,100.0,0.003906,964010.0,99.996094,3.119102
std,159.67728,0.0,0.088388,0.0,0.088388,0.006223
min,0.00000,100.0,0.000000,964010.0,98.000000,3.110000
25%,0.00000,100.0,0.000000,964010.0,100.000000,3.120000
50%,0.00000,100.0,0.000000,964010.0,100.000000,3.120000
75%,132.25000,100.0,0.000000,964010.0,100.000000,3.120000
max,972.00000,100.0,2.000000,964010.0,100.000000,3.130000

In [29]:
df['Value'].value_counts()

0      329
15       5
216      3
405      3
423      3
      ...
239      1
141      1
59       1
78       1
42       1
Name: Value, Length: 142, dtype: int64

In [33]:
print(df)

                    Date  Value  Battery     Raw Data  Sensor State  \
0     11/19/2022 7:54 AM      0      100  0|0|0|48424             0
1     11/19/2022 7:39 AM      0      100  0|0|0|48424             0
2     11/19/2022 7:24 AM      0      100  0|0|0|48424             0
3     11/19/2022 7:09 AM      0      100  0|0|0|48424             0
4     11/19/2022 6:54 AM      0      100  0|0|0|48424             0
..                   ...    ...      ...          ...           ...
507   11/14/2022 2:19 AM      0      100  0|0|0|48424             0
508   11/14/2022 1:49 AM      0      100  0|0|0|48424             0
509   11/14/2022 1:19 AM      0      100  0|0|0|48424             0
510  11/14/2022 12:49 AM      0      100  0|0|0|48424             0
511  11/14/2022 12:19 AM      0      100  0|0|0|48424             0

     GatewayID  Alert Sent  Signal Strength  Voltage
0       964010       False              100     3.11
1       964010       False              100     3.11
2       964010       False              100     3.11
3       964010       False              100     3.11
4       964010       False              100     3.11
..         ...         ...              ...      ...
507     964010       False              100     3.13
508     964010       False              100     3.13
509     964010       False              100     3.13
510     964010       False              100     3.13
511     964010       False              100     3.13

[512 rows x 9 columns]

In [34]:
n = 36
df.drop(index=df.index[:n],inplace=True)
print(df)

                    Date  Value  Battery       Raw Data  Sensor State  \
36   11/18/2022 11:39 PM      0      100  0|132|0|48424             0
37   11/18/2022 11:24 PM      0      100  0|151|0|48424             0
38   11/18/2022 11:09 PM      0      100  0|159|0|48424             0
39   11/18/2022 10:54 PM      0      100  0|175|0|48424             0
40   11/18/2022 10:39 PM      0      100  0|184|0|48424             0
..                   ...    ...      ...            ...           ...
507   11/14/2022 2:19 AM      0      100    0|0|0|48424             0
508   11/14/2022 1:49 AM      0      100    0|0|0|48424             0
509   11/14/2022 1:19 AM      0      100    0|0|0|48424             0
510  11/14/2022 12:49 AM      0      100    0|0|0|48424             0
511  11/14/2022 12:19 AM      0      100    0|0|0|48424             0

     GatewayID  Alert Sent  Signal Strength  Voltage
36      964010       False              100     3.11
37      964010       False              100     3.11
38      964010       False              100     3.11
39      964010       False              100     3.11
40      964010       False              100     3.11
..         ...         ...              ...      ...
507     964010       False              100     3.13
508     964010       False              100     3.13
509     964010       False              100     3.13
510     964010       False              100     3.13
511     964010       False              100     3.13

[476 rows x 9 columns]

In [35]:
df.head()

,Date,Value,Battery,Raw Data,Sensor State,GatewayID,Alert Sent,Signal Strength,Voltage
36,11/18/2022 11:39 PM,0,100,0|132|0|48424,0,964010,False,100,3.11
37,11/18/2022 11:24 PM,0,100,0|151|0|48424,0,964010,False,100,3.11
38,11/18/2022 11:09 PM,0,100,0|159|0|48424,0,964010,False,100,3.11
39,11/18/2022 10:54 PM,0,100,0|175|0|48424,0,964010,False,100,3.11
40,11/18/2022 10:39 PM,0,100,0|184|0|48424,0,964010,False,100,3.11

In [39]:
df.iloc[::-1]

,Date,Value,Battery,Raw Data,Sensor State,GatewayID,Alert Sent,Signal Strength,Voltage
511,11/14/2022 12:19 AM,0,100,0|0|0|48424,0,964010,False,100,3.13
510,11/14/2022 12:49 AM,0,100,0|0|0|48424,0,964010,False,100,3.13
509,11/14/2022 1:19 AM,0,100,0|0|0|48424,0,964010,False,100,3.13
508,11/14/2022 1:49 AM,0,100,0|0|0|48424,0,964010,False,100,3.13
507,11/14/2022 2:19 AM,0,100,0|0|0|48424,0,964010,False,100,3.13
...,...,...,...,...,...,...,...,...,...
40,11/18/2022 10:39 PM,0,100,0|184|0|48424,0,964010,False,100,3.11
39,11/18/2022 10:54 PM,0,100,0|175|0|48424,0,964010,False,100,3.11
38,11/18/2022 11:09 PM,0,100,0|159|0|48424,0,964010,False,100,3.11
37,11/18/2022 11:24 PM,0,100,0|151|0|48424,0,964010,False,100,3.11
36,11/18/2022 11:39 PM,0,100,0|132|0|48424,0,964010,False,100,3.11

,Date,Value,Battery,Raw Data,Sensor State,GatewayID,Alert Sent,Signal Strength,Voltage
36,11/18/2022 11:39 PM,0,100,0|132|0|48424,0,964010,False,100,3.11
37,11/18/2022 11:24 PM,0,100,0|151|0|48424,0,964010,False,100,3.11
38,11/18/2022 11:09 PM,0,100,0|159|0|48424,0,964010,False,100,3.11
39,11/18/2022 10:54 PM,0,100,0|175|0|48424,0,964010,False,100,3.11
40,11/18/2022 10:39 PM,0,100,0|184|0|48424,0,964010,False,100,3.11

In [40]:
n = 369
df.drop(df.tail(n).index,
        inplace = True)

In [41]:
print(df)

                    Date  Value  Battery       Raw Data  Sensor State  \
36   11/18/2022 11:39 PM      0      100  0|132|0|48424             0
37   11/18/2022 11:24 PM      0      100  0|151|0|48424             0
38   11/18/2022 11:09 PM      0      100  0|159|0|48424             0
39   11/18/2022 10:54 PM      0      100  0|175|0|48424             0
40   11/18/2022 10:39 PM      0      100  0|184|0|48424             0
..                   ...    ...      ...            ...           ...
138  11/18/2022 12:24 AM      0      100   0|55|0|48424             0
139  11/18/2022 12:24 AM      0      100   0|55|0|48424             0
140  11/18/2022 12:09 AM      0      100   0|63|0|48424             0
141  11/18/2022 12:09 AM      0      100   0|63|0|48424             0
142  11/17/2022 11:54 PM      0      100   0|79|0|48424             0

     GatewayID  Alert Sent  Signal Strength  Voltage
36      964010       False              100     3.11
37      964010       False              100     3.11
38      964010       False              100     3.11
39      964010       False              100     3.11
40      964010       False              100     3.11
..         ...         ...              ...      ...
138     964010       False              100     3.11
139     964010       False              100     3.11
140     964010       False              100     3.12
141     964010       False              100     3.12
142     964010       False              100     3.11

[107 rows x 9 columns]

In [42]:
n = 43
df.drop(df.tail(n).index,
        inplace = True)

In [43]:
print(df)

                   Date  Value  Battery       Raw Data  Sensor State  \
36  11/18/2022 11:39 PM      0      100  0|132|0|48424             0
37  11/18/2022 11:24 PM      0      100  0|151|0|48424             0
38  11/18/2022 11:09 PM      0      100  0|159|0|48424             0
39  11/18/2022 10:54 PM      0      100  0|175|0|48424             0
40  11/18/2022 10:39 PM      0      100  0|184|0|48424             0
..                  ...    ...      ...            ...           ...
95   11/18/2022 8:54 AM      0      100    0|0|0|48424             0
96   11/18/2022 8:39 AM      0      100    0|0|0|48424             0
97   11/18/2022 8:24 AM      0      100    0|0|0|48424             0
98   11/18/2022 8:09 AM      0      100    0|0|0|48424             0
99   11/18/2022 7:54 AM      0      100    0|0|0|48424             0

    GatewayID  Alert Sent  Signal Strength  Voltage
36     964010       False              100     3.11
37     964010       False              100     3.11
38     964010       False              100     3.11
39     964010       False              100     3.11
40     964010       False              100     3.11
..        ...         ...              ...      ...
95     964010       False              100     3.11
96     964010       False              100     3.12
97     964010       False              100     3.11
98     964010       False              100     3.11
99     964010       False              100     3.11

[64 rows x 9 columns]

In [44]:
n = 10
df.drop(index=df.index[:n],inplace=True)
print(df)

                   Date  Value  Battery         Raw Data  Sensor State  \
46   11/18/2022 9:09 PM     20      100   20|231|0|48424             0
47   11/18/2022 8:54 PM     25      100   25|242|0|48424             0
48   11/18/2022 8:39 PM      1      100    1|248|0|48424             0
49   11/18/2022 8:24 PM     57      100   57|263|0|48424             0
50   11/18/2022 8:09 PM     33      100   33|270|0|48424             0
51   11/18/2022 7:54 PM     31      100   31|284|0|48424             0
52   11/18/2022 7:39 PM     35      100   35|291|0|48424             0
53   11/18/2022 7:24 PM     47      100   47|304|0|48424             0
54   11/18/2022 7:09 PM     73      100   73|308|0|48424             0
55   11/18/2022 6:54 PM    223      100  223|308|0|48424             0
56   11/18/2022 6:39 PM    308      100  308|304|0|48424             0
57   11/18/2022 6:24 PM    136      100  136|298|0|48424             0
58   11/18/2022 6:09 PM    172      100  172|297|0|48424             0
59   11/18/2022 5:54 PM    329      100  329|286|0|48424             0
60   11/18/2022 5:39 PM    341      100  341|285|0|48424             0
61   11/18/2022 5:24 PM    318      100  318|283|0|48424             0
62   11/18/2022 5:09 PM    240      100  240|282|0|48424             0
63   11/18/2022 4:54 PM    268      100  268|283|0|48424             0
64   11/18/2022 4:39 PM    323      100  323|283|0|48424             0
65   11/18/2022 4:24 PM    347      100  347|282|0|48424             0
66   11/18/2022 4:09 PM    384      100  384|280|0|48424             0
67   11/18/2022 3:54 PM    396      100  396|275|0|48424             0
68   11/18/2022 3:39 PM    398      100  398|272|0|48424             0
69   11/18/2022 3:24 PM    474      100  474|263|0|48424             0
70   11/18/2022 3:09 PM    397      100  397|257|0|48424             0
71   11/18/2022 2:54 PM    358      100  358|247|0|48424             0
72   11/18/2022 2:39 PM    421      100  421|244|0|48424             0
73   11/18/2022 2:24 PM    445      100  445|230|0|48424             0
74   11/18/2022 2:09 PM    356      100  356|222|0|48424             0
75   11/18/2022 1:54 PM    131      100  131|218|0|48424             0
76   11/18/2022 1:39 PM    123      100  123|222|0|48424             0
77   11/18/2022 1:24 PM    206      100  206|228|0|48424             0
78   11/18/2022 1:09 PM    300      100  300|230|0|48424             0
79  11/18/2022 12:54 PM    227      100  227|220|0|48424             0
80  11/18/2022 12:39 PM    317      100  317|220|0|48424             0
81  11/18/2022 12:24 PM    395      100  395|205|0|48424             0
82  11/18/2022 12:09 PM    443      100  443|193|0|48424             0
83  11/18/2022 11:54 AM    338      100  338|162|0|48424             0
84  11/18/2022 11:39 AM    347      100  347|148|0|48424             0
85  11/18/2022 11:24 AM    402      100  402|109|0|48424             0
86  11/18/2022 11:09 AM    251      100   251|80|0|48424             0
87  11/18/2022 10:54 AM     56      100    56|55|0|48424             0
88  11/18/2022 10:39 AM     55      100    55|55|0|48424             0
89  11/18/2022 10:24 AM     55      100    55|60|0|48424             0
90  11/18/2022 10:09 AM     89      100    89|61|0|48424             0
91   11/18/2022 9:54 AM     22      100    22|27|0|48424             0
92   11/18/2022 9:39 AM     32      100    32|32|0|48424             0
93   11/18/2022 9:24 AM     10      100    10|10|0|48424             0
94   11/18/2022 9:09 AM      0      100      0|0|0|48424             0
95   11/18/2022 8:54 AM      0      100      0|0|0|48424             0
96   11/18/2022 8:39 AM      0      100      0|0|0|48424             0
97   11/18/2022 8:24 AM      0      100      0|0|0|48424             0
98   11/18/2022 8:09 AM      0      100      0|0|0|48424             0
99   11/18/2022 7:54 AM      0      100      0|0|0|48424             0

    GatewayID  Alert Sent  Signal Strength  Voltage
46     964010       False              100     3.11
47     964010       False              100     3.11
48     964010       False              100     3.11
49     964010       False              100     3.11
50     964010       False              100     3.11
51     964010       False              100     3.11
52     964010       False              100     3.11
53     964010       False              100     3.11
54     964010       False              100     3.11
55     964010       False              100     3.11
56     964010       False              100     3.11
57     964010       False              100     3.11
58     964010       False              100     3.12
59     964010       False              100     3.11
60     964010       False              100     3.11
61     964010       False              100     3.11
62     964010       False              100     3.11
63     964010       False              100     3.11
64     964010       False              100     3.11
65     964010       False              100     3.11
66     964010       False              100     3.11
67     964010       False              100     3.12
68     964010       False              100     3.11
69     964010       False              100     3.11
70     964010       False              100     3.12
71     964010       False              100     3.11
72     964010       False              100     3.11
73     964010       False              100     3.11
74     964010       False              100     3.11
75     964010       False              100     3.11
76     964010       False              100     3.12
77     964010       False              100     3.11
78     964010       False              100     3.11
79     964010       False              100     3.11
80     964010       False              100     3.11
81     964010       False              100     3.11
82     964010       False              100     3.12
83     964010       False              100     3.11
84     964010       False              100     3.11
85     964010       False              100     3.11
86     964010       False              100     3.11
87     964010       False              100     3.11
88     964010       False              100     3.11
89     964010       False              100     3.11
90     964010       False              100     3.11
91     964010       False              100     3.11
92     964010       False              100     3.11
93     964010       False              100     3.11
94     964010       False              100     3.12
95     964010       False              100     3.11
96     964010       False              100     3.12
97     964010       False              100     3.11
98     964010       False              100     3.11
99     964010       False              100     3.11

In [45]:
n = 5
df.drop(df.tail(n).index,
        inplace = True)

In [46]:
print(df)

                   Date  Value  Battery         Raw Data  Sensor State  \
46   11/18/2022 9:09 PM     20      100   20|231|0|48424             0
47   11/18/2022 8:54 PM     25      100   25|242|0|48424             0
48   11/18/2022 8:39 PM      1      100    1|248|0|48424             0
49   11/18/2022 8:24 PM     57      100   57|263|0|48424             0
50   11/18/2022 8:09 PM     33      100   33|270|0|48424             0
51   11/18/2022 7:54 PM     31      100   31|284|0|48424             0
52   11/18/2022 7:39 PM     35      100   35|291|0|48424             0
53   11/18/2022 7:24 PM     47      100   47|304|0|48424             0
54   11/18/2022 7:09 PM     73      100   73|308|0|48424             0
55   11/18/2022 6:54 PM    223      100  223|308|0|48424             0
56   11/18/2022 6:39 PM    308      100  308|304|0|48424             0
57   11/18/2022 6:24 PM    136      100  136|298|0|48424             0
58   11/18/2022 6:09 PM    172      100  172|297|0|48424             0
59   11/18/2022 5:54 PM    329      100  329|286|0|48424             0
60   11/18/2022 5:39 PM    341      100  341|285|0|48424             0
61   11/18/2022 5:24 PM    318      100  318|283|0|48424             0
62   11/18/2022 5:09 PM    240      100  240|282|0|48424             0
63   11/18/2022 4:54 PM    268      100  268|283|0|48424             0
64   11/18/2022 4:39 PM    323      100  323|283|0|48424             0
65   11/18/2022 4:24 PM    347      100  347|282|0|48424             0
66   11/18/2022 4:09 PM    384      100  384|280|0|48424             0
67   11/18/2022 3:54 PM    396      100  396|275|0|48424             0
68   11/18/2022 3:39 PM    398      100  398|272|0|48424             0
69   11/18/2022 3:24 PM    474      100  474|263|0|48424             0
70   11/18/2022 3:09 PM    397      100  397|257|0|48424             0
71   11/18/2022 2:54 PM    358      100  358|247|0|48424             0
72   11/18/2022 2:39 PM    421      100  421|244|0|48424             0
73   11/18/2022 2:24 PM    445      100  445|230|0|48424             0
74   11/18/2022 2:09 PM    356      100  356|222|0|48424             0
75   11/18/2022 1:54 PM    131      100  131|218|0|48424             0
76   11/18/2022 1:39 PM    123      100  123|222|0|48424             0
77   11/18/2022 1:24 PM    206      100  206|228|0|48424             0
78   11/18/2022 1:09 PM    300      100  300|230|0|48424             0
79  11/18/2022 12:54 PM    227      100  227|220|0|48424             0
80  11/18/2022 12:39 PM    317      100  317|220|0|48424             0
81  11/18/2022 12:24 PM    395      100  395|205|0|48424             0
82  11/18/2022 12:09 PM    443      100  443|193|0|48424             0
83  11/18/2022 11:54 AM    338      100  338|162|0|48424             0
84  11/18/2022 11:39 AM    347      100  347|148|0|48424             0
85  11/18/2022 11:24 AM    402      100  402|109|0|48424             0
86  11/18/2022 11:09 AM    251      100   251|80|0|48424             0
87  11/18/2022 10:54 AM     56      100    56|55|0|48424             0
88  11/18/2022 10:39 AM     55      100    55|55|0|48424             0
89  11/18/2022 10:24 AM     55      100    55|60|0|48424             0
90  11/18/2022 10:09 AM     89      100    89|61|0|48424             0
91   11/18/2022 9:54 AM     22      100    22|27|0|48424             0
92   11/18/2022 9:39 AM     32      100    32|32|0|48424             0
93   11/18/2022 9:24 AM     10      100    10|10|0|48424             0
94   11/18/2022 9:09 AM      0      100      0|0|0|48424             0

    GatewayID  Alert Sent  Signal Strength  Voltage
46     964010       False              100     3.11
47     964010       False              100     3.11
48     964010       False              100     3.11
49     964010       False              100     3.11
50     964010       False              100     3.11
51     964010       False              100     3.11
52     964010       False              100     3.11
53     964010       False              100     3.11
54     964010       False              100     3.11
55     964010       False              100     3.11
56     964010       False              100     3.11
57     964010       False              100     3.11
58     964010       False              100     3.12
59     964010       False              100     3.11
60     964010       False              100     3.11
61     964010       False              100     3.11
62     964010       False              100     3.11
63     964010       False              100     3.11
64     964010       False              100     3.11
65     964010       False              100     3.11
66     964010       False              100     3.11
67     964010       False              100     3.12
68     964010       False              100     3.11
69     964010       False              100     3.11
70     964010       False              100     3.12
71     964010       False              100     3.11
72     964010       False              100     3.11
73     964010       False              100     3.11
74     964010       False              100     3.11
75     964010       False              100     3.11
76     964010       False              100     3.12
77     964010       False              100     3.11
78     964010       False              100     3.11
79     964010       False              100     3.11
80     964010       False              100     3.11
81     964010       False              100     3.11
82     964010       False              100     3.12
83     964010       False              100     3.11
84     964010       False              100     3.11
85     964010       False              100     3.11
86     964010       False              100     3.11
87     964010       False              100     3.11
88     964010       False              100     3.11
89     964010       False              100     3.11
90     964010       False              100     3.11
91     964010       False              100     3.11
92     964010       False              100     3.11
93     964010       False              100     3.11
94     964010       False              100     3.12

In [47]:
df.describe()
#IMPORTANT

,Value,Battery,Sensor State,GatewayID,Signal Strength,Voltage
count,49.000000,49.0,49.0,49.0,49.0,49.000000
mean,219.489796,100.0,0.0,964010.0,100.0,3.111224
std,154.722483,0.0,0.0,0.0,0.0,0.003312
min,0.000000,100.0,0.0,964010.0,100.0,3.110000
25%,55.000000,100.0,0.0,964010.0,100.0,3.110000
50%,240.000000,100.0,0.0,964010.0,100.0,3.110000
75%,347.000000,100.0,0.0,964010.0,100.0,3.110000
max,474.000000,100.0,0.0,964010.0,100.0,3.120000

In [48]:
df.head()

,Date,Value,Battery,Raw Data,Sensor State,GatewayID,Alert Sent,Signal Strength,Voltage
46,11/18/2022 9:09 PM,20,100,20|231|0|48424,0,964010,False,100,3.11
47,11/18/2022 8:54 PM,25,100,25|242|0|48424,0,964010,False,100,3.11
48,11/18/2022 8:39 PM,1,100,1|248|0|48424,0,964010,False,100,3.11
49,11/18/2022 8:24 PM,57,100,57|263|0|48424,0,964010,False,100,3.11
50,11/18/2022 8:09 PM,33,100,33|270|0|48424,0,964010,False,100,3.11

In [49]:
print(df[df.Value == df.Value.max()])

                  Date  Value  Battery         Raw Data  Sensor State  \
69  11/18/2022 3:24 PM    474      100  474|263|0|48424             0

    GatewayID  Alert Sent  Signal Strength  Voltage
69     964010       False              100     3.11

In [50]:
print(df[df.Value == df.Value.min()])

                  Date  Value  Battery     Raw Data  Sensor State  GatewayID  \
94  11/18/2022 9:09 AM      0      100  0|0|0|48424             0     964010

    Alert Sent  Signal Strength  Voltage
94       False              100     3.12

In [52]:
print(df[df.Value == df.Value.median()])

                  Date  Value  Battery         Raw Data  Sensor State  \
62  11/18/2022 5:09 PM    240      100  240|282|0|48424             0

    GatewayID  Alert Sent  Signal Strength  Voltage
62     964010       False              100     3.11