In [33]:
import pandas as pd
import matplotlib.pyplot as plt

In [34]:
df = pd.read_csv("HUMID1_DATASET.csv", encoding='latin1')

In [35]:
n = 35
df.drop(index=df.index[:n],inplace=True)
print(df)

                          DataMessageGUID  SensorID       Sensor Name  \
35   d4610685-427b-43c0-9ce5-59e617b54719    633384  Temp/ Humidity 1
36   cc9089d3-a33b-4951-8137-5f28af5311d9    633384  Temp/ Humidity 1
37   e46c5a23-971c-4738-9bce-3fc7306f6f15    633384  Temp/ Humidity 1
38   3bfc1872-e1e6-4717-9677-80f9c2c7a07c    633384  Temp/ Humidity 1
39   23b68f1e-d675-4eab-a4b3-a19b19f7a1eb    633384  Temp/ Humidity 1
..                                    ...       ...               ...
440  0ac902cc-f9a2-4722-ade1-09a4a0890f88    633384  Temp/ Humidity 1
441  29d60b59-a4c3-43c6-8494-d96b5ef4084e    633384  Temp/ Humidity 1
442  cd4fd07e-3b98-4f89-8740-d0594f9ab28a    633384  Temp/ Humidity 1
443  e503f477-39af-444b-974d-b51c2893d660    633384  Temp/ Humidity 1
444  ac212a42-da1e-47f7-a24f-2fff17505d8f    633384  Temp/ Humidity 1

                    Date  Value   Formatted Value  Battery  \
35    11/18/2022 9:08 PM  38.85  38.85% @ 21.6° C      100
36    11/18/2022 8:48 PM  38.90   38.9% @ 21.6° C      100
37    11/18/2022 8:28 PM  38.65  38.65% @ 21.8° C      100
38    11/18/2022 8:08 PM  38.53  38.53% @ 21.8° C      100
39    11/18/2022 7:48 PM  38.49  38.49% @ 21.9° C      100
..                   ...    ...               ...      ...
440   11/14/2022 1:28 AM  58.44  58.44% @ 17.5° C      100
441   11/14/2022 1:08 AM  58.23  58.23% @ 17.5° C      100
442  11/14/2022 12:48 AM  57.94  57.94% @ 17.5° C      100
443  11/14/2022 12:28 AM  57.75  57.75% @ 17.6° C      100
444  11/14/2022 12:08 AM  57.59  57.59% @ 17.6° C      100

                           Raw Data  Sensor State  GatewayID  Alert Sent  \
35     38.85,21.61,7,44.3,20.8,13.4             0     964010       False
36    38.9,21.64,7.1,44.4,20.9,13.5             0     964010       False
37     38.65,21.79,7.1,44.5,21,13.6             0     964010       False
38     38.53,21.79,7.1,44.4,21,13.6             0     964010       False
39   38.49,21.85,7.1,44.5,21.1,13.6             0     964010       False
..                              ...           ...        ...         ...
440   58.44,17.5,9.3,51.2,16.8,12.6             0     964010       False
441  58.23,17.53,9.2,51.2,16.9,12.6             0     964010       False
442  57.94,17.51,9.1,50.8,16.8,12.5             0     964010       False
443  57.75,17.56,9.1,50.8,16.9,12.6             0     964010       False
444  57.59,17.56,9.1,50.7,16.9,12.5             0     964010       False

     Signal Strength  Voltage
35               100     2.73
36               100     2.74
37               100     2.74
38               100     2.74
39               100     2.74
..               ...      ...
440               97     2.65
441               98     2.65
442               98     2.65
443               97     2.65
444               98     2.65

[410 rows x 13 columns]

In [36]:
df.head()

,DataMessageGUID,SensorID,Sensor Name,Date,Value,Formatted Value,Battery,Raw Data,Sensor State,GatewayID,Alert Sent,Signal Strength,Voltage
35,d4610685-427b-43c0-9ce5-59e617b54719,633384,Temp/ Humidity 1,11/18/2022 9:08 PM,38.85,38.85% @ 21.6° C,100,"38.85,21.61,7,44.3,20.8,13.4",0,964010,False,100,2.73
36,cc9089d3-a33b-4951-8137-5f28af5311d9,633384,Temp/ Humidity 1,11/18/2022 8:48 PM,38.90,38.9% @ 21.6° C,100,"38.9,21.64,7.1,44.4,20.9,13.5",0,964010,False,100,2.74
37,e46c5a23-971c-4738-9bce-3fc7306f6f15,633384,Temp/ Humidity 1,11/18/2022 8:28 PM,38.65,38.65% @ 21.8° C,100,"38.65,21.79,7.1,44.5,21,13.6",0,964010,False,100,2.74
38,3bfc1872-e1e6-4717-9677-80f9c2c7a07c,633384,Temp/ Humidity 1,11/18/2022 8:08 PM,38.53,38.53% @ 21.8° C,100,"38.53,21.79,7.1,44.4,21,13.6",0,964010,False,100,2.74
39,23b68f1e-d675-4eab-a4b3-a19b19f7a1eb,633384,Temp/ Humidity 1,11/18/2022 7:48 PM,38.49,38.49% @ 21.9° C,100,"38.49,21.85,7.1,44.5,21.1,13.6",0,964010,False,100,2.74

In [37]:
n = 372
df.drop(df.tail(n).index,
        inplace = True)

In [38]:
print(df)

                         DataMessageGUID  SensorID       Sensor Name  \
35  d4610685-427b-43c0-9ce5-59e617b54719    633384  Temp/ Humidity 1
36  cc9089d3-a33b-4951-8137-5f28af5311d9    633384  Temp/ Humidity 1
37  e46c5a23-971c-4738-9bce-3fc7306f6f15    633384  Temp/ Humidity 1
38  3bfc1872-e1e6-4717-9677-80f9c2c7a07c    633384  Temp/ Humidity 1
39  23b68f1e-d675-4eab-a4b3-a19b19f7a1eb    633384  Temp/ Humidity 1
40  581d7067-f447-4c24-b9e7-d2451bf11ecd    633384  Temp/ Humidity 1
41  1d97f349-a05f-46cd-beaf-33a12278091a    633384  Temp/ Humidity 1
42  20054d5e-aa1c-4fb8-9b6e-3d6a9d1d25a7    633384  Temp/ Humidity 1
43  7373c6bb-7487-49d7-9833-6b222abbc841    633384  Temp/ Humidity 1
44  c3a33c12-20e1-40f4-9f5d-9a13d3d36728    633384  Temp/ Humidity 1
45  587d895b-6176-4e30-abc1-013624b49bd5    633384  Temp/ Humidity 1
46  a093ef03-9d27-4e7b-a80b-822c4add2221    633384  Temp/ Humidity 1
47  9dd2f41b-d1c6-45c9-bce0-302d49d79bfb    633384  Temp/ Humidity 1
48  f58df331-d2bc-49da-b537-b8e0adbe1a20    633384  Temp/ Humidity 1
49  a9b74b50-7a34-4030-831a-d5189db23022    633384  Temp/ Humidity 1
50  9ab88595-dd28-4b90-abab-e5d0cb797d83    633384  Temp/ Humidity 1
51  de54d447-8bf7-4188-a749-6786d1c65daa    633384  Temp/ Humidity 1
52  ca90c911-c5c8-41f4-b890-d62e5fadd0df    633384  Temp/ Humidity 1
53  d9b5f257-9afb-41e5-a695-30939536d32c    633384  Temp/ Humidity 1
54  4bcb28d7-2dce-4c7e-a628-ae471176681b    633384  Temp/ Humidity 1
55  1c0691c9-02c4-41de-8ad6-f4b58e817a53    633384  Temp/ Humidity 1
56  0298e58b-adcc-44d5-9099-d125b14625e0    633384  Temp/ Humidity 1
57  7d23fbf2-7040-4aee-ae46-78d6718fcbbf    633384  Temp/ Humidity 1
58  f939a082-3987-40be-9714-a7300f50c4f4    633384  Temp/ Humidity 1
59  10278012-4ebb-4bec-b484-cfbf563231f2    633384  Temp/ Humidity 1
60  35f82b8d-1c78-4406-a005-4237f15844eb    633384  Temp/ Humidity 1
61  e587d48f-a179-4bf3-87d8-a018a46b8182    633384  Temp/ Humidity 1
62  6be8f7b8-7cab-44b3-86f6-fe3e7294d799    633384  Temp/ Humidity 1
63  c9ed0945-c9e4-4669-9615-1cf0bcb2dd37    633384  Temp/ Humidity 1
64  09443d02-54df-4cd2-9462-a428afe2178e    633384  Temp/ Humidity 1
65  8f9e6b6e-d0b0-4370-a5f1-b7cd884f3ab0    633384  Temp/ Humidity 1
66  5517693b-f15b-4989-b604-9d3f4acd126b    633384  Temp/ Humidity 1
67  4007c2fa-7de3-4845-81c2-6a0197fec981    633384  Temp/ Humidity 1
68  8f4ba16f-040a-40f2-bfd6-74a6d7b496e4    633384  Temp/ Humidity 1
69  88f47289-c28d-43a4-bcb2-3703d23e45c2    633384  Temp/ Humidity 1
70  3ff0d764-8d95-4ef6-8baf-9353bc6ad464    633384  Temp/ Humidity 1
71  f1de8373-8149-4f8a-b6aa-0c06c589c97b    633384  Temp/ Humidity 1
72  d61e4850-8a51-4238-9437-f9666a2fd3d9    633384  Temp/ Humidity 1

                   Date  Value   Formatted Value  Battery  \
35   11/18/2022 9:08 PM  38.85  38.85% @ 21.6° C      100
36   11/18/2022 8:48 PM  38.90   38.9% @ 21.6° C      100
37   11/18/2022 8:28 PM  38.65  38.65% @ 21.8° C      100
38   11/18/2022 8:08 PM  38.53  38.53% @ 21.8° C      100
39   11/18/2022 7:48 PM  38.49  38.49% @ 21.9° C      100
40   11/18/2022 7:28 PM  38.33  38.33% @ 21.9° C      100
41   11/18/2022 7:08 PM  38.45    38.45% @ 22° C      100
42   11/18/2022 6:48 PM  39.22  39.22% @ 22.1° C      100
43   11/18/2022 6:28 PM  38.17  38.17% @ 22.2° C      100
44   11/18/2022 6:08 PM  38.51  38.51% @ 22.4° C      100
45   11/18/2022 5:48 PM  39.87  39.87% @ 22.5° C      100
46   11/18/2022 5:28 PM  39.86  39.86% @ 22.5° C      100
47   11/18/2022 5:08 PM  39.20   39.2% @ 22.4° C      100
48   11/18/2022 4:48 PM  39.55  39.55% @ 22.5° C      100
49   11/18/2022 4:28 PM  39.97  39.97% @ 22.5° C      100
50   11/18/2022 4:08 PM  40.14  40.14% @ 22.5° C      100
51   11/18/2022 3:48 PM  40.87  40.87% @ 22.7° C      100
52   11/18/2022 3:28 PM  41.07  41.07% @ 22.6° C      100
53   11/18/2022 3:08 PM  40.56  40.56% @ 22.7° C      100
54   11/18/2022 2:48 PM  40.78  40.78% @ 22.7° C      100
55   11/18/2022 2:48 PM  40.78  40.78% @ 22.7° C      100
56   11/18/2022 2:28 PM  41.75  41.75% @ 22.7° C      100
57   11/18/2022 2:08 PM  40.74  40.74% @ 22.5° C      100
58   11/18/2022 1:48 PM  39.80   39.8% @ 22.4° C      100
59   11/18/2022 1:28 PM  40.55  40.55% @ 22.4° C      100
60   11/18/2022 1:08 PM  41.43  41.43% @ 22.5° C      100
61  11/18/2022 12:48 PM  41.67  41.67% @ 22.5° C      100
62  11/18/2022 12:28 PM  42.93  42.93% @ 22.4° C      100
63  11/18/2022 12:08 PM  42.85  42.85% @ 22.5° C      100
64  11/18/2022 11:48 AM  43.05  43.05% @ 22.6° C      100
65  11/18/2022 11:28 AM  43.68  43.68% @ 22.4° C      100
66  11/18/2022 11:08 AM  42.92  42.92% @ 21.9° C      100
67  11/18/2022 10:48 AM  41.87  41.87% @ 21.8° C      100
68  11/18/2022 10:28 AM  41.97  41.97% @ 21.7° C      100
69  11/18/2022 10:08 AM  42.83  42.83% @ 21.6° C      100
70   11/18/2022 9:48 AM  42.82  42.82% @ 21.5° C      100
71   11/18/2022 9:28 AM  42.83  42.83% @ 21.5° C      100
72   11/18/2022 9:08 AM  42.29  42.29% @ 21.5° C      100

                          Raw Data  Sensor State  GatewayID  Alert Sent  \
35    38.85,21.61,7,44.3,20.8,13.4             0     964010       False
36   38.9,21.64,7.1,44.4,20.9,13.5             0     964010       False
37    38.65,21.79,7.1,44.5,21,13.6             0     964010       False
38    38.53,21.79,7.1,44.4,21,13.6             0     964010       False
39  38.49,21.85,7.1,44.5,21.1,13.6             0     964010       False
40  38.33,21.92,7.1,44.5,21.2,13.6             0     964010       False
41  38.45,22.01,7.2,44.9,21.3,13.7             0     964010       False
42  39.22,22.12,7.6,46.1,21.4,13.9             0     964010       False
43  38.17,22.23,7.3,45.2,21.5,13.8             0     964010       False
44      38.51,22.36,7.6,46,21.7,14             0     964010       False
45  39.87,22.53,8.2,48.1,21.9,14.4             0     964010       False
46    39.86,22.49,8.2,48,21.8,14.3             0     964010       False
47     39.2,22.41,7.9,47,21.7,14.2             0     964010       False
48    39.55,22.45,8,47.5,21.8,14.2             0     964010       False
49    39.97,22.45,8.2,48,21.8,14.3             0     964010       False
50  40.14,22.52,8.3,48.4,21.9,14.4             0     964010       False
51    40.87,22.66,8.7,49.7,22,14.6             0     964010       False
52    41.07,22.63,8.7,49.9,22,14.6             0     964010       False
53  40.56,22.69,8.6,49.4,22.1,14.6             0     964010       False
54  40.78,22.74,8.7,49.9,22.1,14.7             0     964010       False
55  40.78,22.74,8.7,49.9,22.1,14.7             0     964010       False
56    41.75,22.65,9,50.8,22.1,14.8             0     964010       False
57    40.74,22.46,8.5,49,21.8,14.4             0     964010       False
58   39.8,22.38,8.1,47.6,21.7,14.2             0     964010       False
59  40.55,22.43,8.4,48.6,21.8,14.4             0     964010       False
60    41.43,22.52,8.8,50,21.9,14.6             0     964010       False
61  41.67,22.46,8.8,50.1,21.8,14.6             0     964010       False
62  42.93,22.42,9.2,51.5,21.8,14.7             0     964010       False
63    42.85,22.53,9.3,51.7,22,14.8             0     964010       False
64    43.05,22.56,9.4,52.1,22,14.9             0     964010       False
65  43.68,22.36,9.4,52.2,21.8,14.8             0     964010       False
66  42.92,21.92,8.8,49.9,21.3,14.3             0     964010       False
67   41.87,21.8,8.3,48.3,21.1,14.1             0     964010       False
68      41.97,21.71,8.2,48.1,21,14             0     964010       False
69    42.83,21.63,8.5,48.9,21,14.1             0     964010       False
70  42.82,21.47,8.3,48.4,20.8,13.9             0     964010       False
71    42.83,21.52,8.4,48.5,20.8,14             0     964010       False
72  42.29,21.49,8.2,47.8,20.8,13.9             0     964010       False

    Signal Strength  Voltage
35              100     2.73
36              100     2.74
37              100     2.74
38              100     2.74
39              100     2.74
40              100     2.74
41              100     2.74
42              100     2.74
43              100     2.74
44              100     2.74
45              100     2.74
46              100     2.74
47              100     2.74
48              100     2.74
49              100     2.74
50              100     2.74
51              100     2.74
52              100     2.74
53              100     2.74
54              100     2.74
55              100     2.74
56              100     2.74
57              100     2.74
58              100     2.74
59              100     2.74
60              100     2.74
61              100     2.74
62              100     2.74
63              100     2.74
64              100     2.74
65              100     2.73
66              100     2.74
67              100     2.74
68              100     2.73
69              100     2.73
70              100     2.73
71              100     2.73
72              100     2.73

In [39]:
df.head()

,DataMessageGUID,SensorID,Sensor Name,Date,Value,Formatted Value,Battery,Raw Data,Sensor State,GatewayID,Alert Sent,Signal Strength,Voltage
35,d4610685-427b-43c0-9ce5-59e617b54719,633384,Temp/ Humidity 1,11/18/2022 9:08 PM,38.85,38.85% @ 21.6° C,100,"38.85,21.61,7,44.3,20.8,13.4",0,964010,False,100,2.73
36,cc9089d3-a33b-4951-8137-5f28af5311d9,633384,Temp/ Humidity 1,11/18/2022 8:48 PM,38.90,38.9% @ 21.6° C,100,"38.9,21.64,7.1,44.4,20.9,13.5",0,964010,False,100,2.74
37,e46c5a23-971c-4738-9bce-3fc7306f6f15,633384,Temp/ Humidity 1,11/18/2022 8:28 PM,38.65,38.65% @ 21.8° C,100,"38.65,21.79,7.1,44.5,21,13.6",0,964010,False,100,2.74
38,3bfc1872-e1e6-4717-9677-80f9c2c7a07c,633384,Temp/ Humidity 1,11/18/2022 8:08 PM,38.53,38.53% @ 21.8° C,100,"38.53,21.79,7.1,44.4,21,13.6",0,964010,False,100,2.74
39,23b68f1e-d675-4eab-a4b3-a19b19f7a1eb,633384,Temp/ Humidity 1,11/18/2022 7:48 PM,38.49,38.49% @ 21.9° C,100,"38.49,21.85,7.1,44.5,21.1,13.6",0,964010,False,100,2.74

In [40]:
df.drop("DataMessageGUID", axis = 1, inplace = True)

In [41]:
df.head()

,SensorID,Sensor Name,Date,Value,Formatted Value,Battery,Raw Data,Sensor State,GatewayID,Alert Sent,Signal Strength,Voltage
35,633384,Temp/ Humidity 1,11/18/2022 9:08 PM,38.85,38.85% @ 21.6° C,100,"38.85,21.61,7,44.3,20.8,13.4",0,964010,False,100,2.73
36,633384,Temp/ Humidity 1,11/18/2022 8:48 PM,38.90,38.9% @ 21.6° C,100,"38.9,21.64,7.1,44.4,20.9,13.5",0,964010,False,100,2.74
37,633384,Temp/ Humidity 1,11/18/2022 8:28 PM,38.65,38.65% @ 21.8° C,100,"38.65,21.79,7.1,44.5,21,13.6",0,964010,False,100,2.74
38,633384,Temp/ Humidity 1,11/18/2022 8:08 PM,38.53,38.53% @ 21.8° C,100,"38.53,21.79,7.1,44.4,21,13.6",0,964010,False,100,2.74
39,633384,Temp/ Humidity 1,11/18/2022 7:48 PM,38.49,38.49% @ 21.9° C,100,"38.49,21.85,7.1,44.5,21.1,13.6",0,964010,False,100,2.74

In [42]:
df.drop("SensorID", axis = 1, inplace = True)
df.drop("Sensor Name", axis = 1, inplace = True)
df.drop("Battery", axis = 1, inplace = True)
df.drop("Signal Strength", axis = 1, inplace = True)

In [43]:
df.head()

,Date,Value,Formatted Value,Raw Data,Sensor State,GatewayID,Alert Sent,Voltage
35,11/18/2022 9:08 PM,38.85,38.85% @ 21.6° C,"38.85,21.61,7,44.3,20.8,13.4",0,964010,False,2.73
36,11/18/2022 8:48 PM,38.90,38.9% @ 21.6° C,"38.9,21.64,7.1,44.4,20.9,13.5",0,964010,False,2.74
37,11/18/2022 8:28 PM,38.65,38.65% @ 21.8° C,"38.65,21.79,7.1,44.5,21,13.6",0,964010,False,2.74
38,11/18/2022 8:08 PM,38.53,38.53% @ 21.8° C,"38.53,21.79,7.1,44.4,21,13.6",0,964010,False,2.74
39,11/18/2022 7:48 PM,38.49,38.49% @ 21.9° C,"38.49,21.85,7.1,44.5,21.1,13.6",0,964010,False,2.74

In [44]:
df.drop("GatewayID", axis = 1, inplace = True)

In [45]:
df.head()

,Date,Value,Formatted Value,Raw Data,Sensor State,Alert Sent,Voltage
35,11/18/2022 9:08 PM,38.85,38.85% @ 21.6° C,"38.85,21.61,7,44.3,20.8,13.4",0,False,2.73
36,11/18/2022 8:48 PM,38.90,38.9% @ 21.6° C,"38.9,21.64,7.1,44.4,20.9,13.5",0,False,2.74
37,11/18/2022 8:28 PM,38.65,38.65% @ 21.8° C,"38.65,21.79,7.1,44.5,21,13.6",0,False,2.74
38,11/18/2022 8:08 PM,38.53,38.53% @ 21.8° C,"38.53,21.79,7.1,44.4,21,13.6",0,False,2.74
39,11/18/2022 7:48 PM,38.49,38.49% @ 21.9° C,"38.49,21.85,7.1,44.5,21.1,13.6",0,False,2.74

In [46]:
print(df)

                   Date  Value   Formatted Value  \
35   11/18/2022 9:08 PM  38.85  38.85% @ 21.6° C
36   11/18/2022 8:48 PM  38.90   38.9% @ 21.6° C
37   11/18/2022 8:28 PM  38.65  38.65% @ 21.8° C
38   11/18/2022 8:08 PM  38.53  38.53% @ 21.8° C
39   11/18/2022 7:48 PM  38.49  38.49% @ 21.9° C
40   11/18/2022 7:28 PM  38.33  38.33% @ 21.9° C
41   11/18/2022 7:08 PM  38.45    38.45% @ 22° C
42   11/18/2022 6:48 PM  39.22  39.22% @ 22.1° C
43   11/18/2022 6:28 PM  38.17  38.17% @ 22.2° C
44   11/18/2022 6:08 PM  38.51  38.51% @ 22.4° C
45   11/18/2022 5:48 PM  39.87  39.87% @ 22.5° C
46   11/18/2022 5:28 PM  39.86  39.86% @ 22.5° C
47   11/18/2022 5:08 PM  39.20   39.2% @ 22.4° C
48   11/18/2022 4:48 PM  39.55  39.55% @ 22.5° C
49   11/18/2022 4:28 PM  39.97  39.97% @ 22.5° C
50   11/18/2022 4:08 PM  40.14  40.14% @ 22.5° C
51   11/18/2022 3:48 PM  40.87  40.87% @ 22.7° C
52   11/18/2022 3:28 PM  41.07  41.07% @ 22.6° C
53   11/18/2022 3:08 PM  40.56  40.56% @ 22.7° C
54   11/18/2022 2:48 PM  40.78  40.78% @ 22.7° C
55   11/18/2022 2:48 PM  40.78  40.78% @ 22.7° C
56   11/18/2022 2:28 PM  41.75  41.75% @ 22.7° C
57   11/18/2022 2:08 PM  40.74  40.74% @ 22.5° C
58   11/18/2022 1:48 PM  39.80   39.8% @ 22.4° C
59   11/18/2022 1:28 PM  40.55  40.55% @ 22.4° C
60   11/18/2022 1:08 PM  41.43  41.43% @ 22.5° C
61  11/18/2022 12:48 PM  41.67  41.67% @ 22.5° C
62  11/18/2022 12:28 PM  42.93  42.93% @ 22.4° C
63  11/18/2022 12:08 PM  42.85  42.85% @ 22.5° C
64  11/18/2022 11:48 AM  43.05  43.05% @ 22.6° C
65  11/18/2022 11:28 AM  43.68  43.68% @ 22.4° C
66  11/18/2022 11:08 AM  42.92  42.92% @ 21.9° C
67  11/18/2022 10:48 AM  41.87  41.87% @ 21.8° C
68  11/18/2022 10:28 AM  41.97  41.97% @ 21.7° C
69  11/18/2022 10:08 AM  42.83  42.83% @ 21.6° C
70   11/18/2022 9:48 AM  42.82  42.82% @ 21.5° C
71   11/18/2022 9:28 AM  42.83  42.83% @ 21.5° C
72   11/18/2022 9:08 AM  42.29  42.29% @ 21.5° C

                          Raw Data  Sensor State  Alert Sent  Voltage
35    38.85,21.61,7,44.3,20.8,13.4             0       False     2.73
36   38.9,21.64,7.1,44.4,20.9,13.5             0       False     2.74
37    38.65,21.79,7.1,44.5,21,13.6             0       False     2.74
38    38.53,21.79,7.1,44.4,21,13.6             0       False     2.74
39  38.49,21.85,7.1,44.5,21.1,13.6             0       False     2.74
40  38.33,21.92,7.1,44.5,21.2,13.6             0       False     2.74
41  38.45,22.01,7.2,44.9,21.3,13.7             0       False     2.74
42  39.22,22.12,7.6,46.1,21.4,13.9             0       False     2.74
43  38.17,22.23,7.3,45.2,21.5,13.8             0       False     2.74
44      38.51,22.36,7.6,46,21.7,14             0       False     2.74
45  39.87,22.53,8.2,48.1,21.9,14.4             0       False     2.74
46    39.86,22.49,8.2,48,21.8,14.3             0       False     2.74
47     39.2,22.41,7.9,47,21.7,14.2             0       False     2.74
48    39.55,22.45,8,47.5,21.8,14.2             0       False     2.74
49    39.97,22.45,8.2,48,21.8,14.3             0       False     2.74
50  40.14,22.52,8.3,48.4,21.9,14.4             0       False     2.74
51    40.87,22.66,8.7,49.7,22,14.6             0       False     2.74
52    41.07,22.63,8.7,49.9,22,14.6             0       False     2.74
53  40.56,22.69,8.6,49.4,22.1,14.6             0       False     2.74
54  40.78,22.74,8.7,49.9,22.1,14.7             0       False     2.74
55  40.78,22.74,8.7,49.9,22.1,14.7             0       False     2.74
56    41.75,22.65,9,50.8,22.1,14.8             0       False     2.74
57    40.74,22.46,8.5,49,21.8,14.4             0       False     2.74
58   39.8,22.38,8.1,47.6,21.7,14.2             0       False     2.74
59  40.55,22.43,8.4,48.6,21.8,14.4             0       False     2.74
60    41.43,22.52,8.8,50,21.9,14.6             0       False     2.74
61  41.67,22.46,8.8,50.1,21.8,14.6             0       False     2.74
62  42.93,22.42,9.2,51.5,21.8,14.7             0       False     2.74
63    42.85,22.53,9.3,51.7,22,14.8             0       False     2.74
64    43.05,22.56,9.4,52.1,22,14.9             0       False     2.74
65  43.68,22.36,9.4,52.2,21.8,14.8             0       False     2.73
66  42.92,21.92,8.8,49.9,21.3,14.3             0       False     2.74
67   41.87,21.8,8.3,48.3,21.1,14.1             0       False     2.74
68      41.97,21.71,8.2,48.1,21,14             0       False     2.73
69    42.83,21.63,8.5,48.9,21,14.1             0       False     2.73
70  42.82,21.47,8.3,48.4,20.8,13.9             0       False     2.73
71    42.83,21.52,8.4,48.5,20.8,14             0       False     2.73
72  42.29,21.49,8.2,47.8,20.8,13.9             0       False     2.73

In [47]:
df.describe()
#IMPORTANT

           Value  Sensor State    Voltage
count  38.000000          38.0  38.000000
mean   40.650789           0.0   2.738158
std     1.659206           0.0   0.003929
min    38.170000           0.0   2.730000
25%    39.205000           0.0   2.740000
50%    40.650000           0.0   2.740000
75%    41.945000           0.0   2.740000
max    43.680000           0.0   2.740000

In [48]:
df.head()

,Date,Value,Formatted Value,Raw Data,Sensor State,Alert Sent,Voltage
35,11/18/2022 9:08 PM,38.85,38.85% @ 21.6° C,"38.85,21.61,7,44.3,20.8,13.4",0,False,2.73
36,11/18/2022 8:48 PM,38.90,38.9% @ 21.6° C,"38.9,21.64,7.1,44.4,20.9,13.5",0,False,2.74
37,11/18/2022 8:28 PM,38.65,38.65% @ 21.8° C,"38.65,21.79,7.1,44.5,21,13.6",0,False,2.74
38,11/18/2022 8:08 PM,38.53,38.53% @ 21.8° C,"38.53,21.79,7.1,44.4,21,13.6",0,False,2.74
39,11/18/2022 7:48 PM,38.49,38.49% @ 21.9° C,"38.49,21.85,7.1,44.5,21.1,13.6",0,False,2.74

In [50]:
print(df[df.Value == df.Value.max()])

                   Date  Value   Formatted Value  \
65  11/18/2022 11:28 AM  43.68  43.68% @ 22.4° C

                          Raw Data  Sensor State  Alert Sent  Voltage
65  43.68,22.36,9.4,52.2,21.8,14.8             0       False     2.73

In [51]:
print(df[df.Value == df.Value.min()])

                  Date  Value   Formatted Value  \
43  11/18/2022 6:28 PM  38.17  38.17% @ 22.2° C

                          Raw Data  Sensor State  Alert Sent  Voltage
43  38.17,22.23,7.3,45.2,21.5,13.8             0       False     2.74

In [52]:
print(df[df.Value == df.Value.median()])

Empty DataFrame
Columns: [Date, Value, Formatted Value, Raw Data, Sensor State, Alert Sent, Voltage]
Index: []